@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    @apply bg-[#272727] text-[#E5E5E5];
  }
  
  /* Scrollbar personnalisée pour le dark mode */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#272727];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#3E3E3E] rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#4E4E4E];
  }
}

/* Classe utilitaire pour les conteneurs défilants */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}