@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Utilisation de Inter et du fond noir */
    font-family: 'Inter', sans-serif;
    @apply bg-[#272727] text-[#E5E5E5];
  }
  
  /* Scrollbar sombre personnalisée */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#272727];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#3E3E3E] rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#4E4E4E];
  }
}

/* Classe utilitaire pour les conteneurs défilants */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-full;
}